<a href="https://colab.research.google.com/github/vgctelles/spotify-model2/blob/main/spotify_data_scrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install spotipy

In [3]:
import pandas as pd
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

In [4]:
CLIENT_ID = 'dcdbc364b650420ba00c3fbcca957a4f'
CLIENT_SECRET = '381f0fa966784f4e92b37134958856d4'

In [5]:
client_credentials_manager = SpotifyClientCredentials(client_id=CLIENT_ID, client_secret=CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [7]:
#test 500 music data scrap

artist_name = []
track_name = []
track_popularity = []
track_explicity = []
artist_id = []
track_id = []
album_name = []
album_id = []
for i in range(0,500,50):
    track_results = sp.search(q='year:2021', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        album_name.append(t['album']['name'])
        album_id.append(t['album']['id'])
        artist_name.append(t['artists'][0]['name'])
        artist_id.append(t['artists'][0]['id'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        track_popularity.append(t['popularity'])
        track_explicity.append(t['explicit'])

In [8]:
track_df = pd.DataFrame({'album_name' : album_name,'artist_name' : artist_name, 'track_name' : track_name, 'track_id' : track_id, 'track_popularity' : track_popularity, 'explicit' : track_explicity, 'artist_id' : artist_id})
print(track_df.shape)

(500, 7)

In [9]:
track_df.head()

,album_name,artist_name,track_name,track_id,track_popularity,explicit,artist_id
0,Planet Her,Doja Cat,Woman,6Uj1ctrBOjOas8xZXGqKk4,91,True,5cj0lLjcoR7YOSnhnX0Po5
1,LIFE (2021 Remaster),Mr.Kitty,Years - 2021 Remaster,4S4ZY1yKo3WUtzsg3O6hcf,22,False,0pWwt5vGNzezEhfAcc420Y
2,SOUR,Olivia Rodrigo,good 4 u,4ZtFanR9U6ndgddUvNcjcG,90,True,1McMsnEElThX1knmY4oliG
3,This Year's Model (2021 Remaster),Elvis Costello & The Attractions,Pump It Up - 2021 Remaster,3oyc1mIdCBGaU55wX7otqM,61,False,4qmHkMxr6pTWh5Zo74odpH
4,Dangerous: The Double Album,Morgan Wallen,Wasted On You,3cBsEDNhFI9E82vPj3kvi3,82,False,4oUHIQIBe0LHzYfvXNW4QM